# Exercise 1: Dummy Coding

Let's consider a categorical feature, the weather, which takes values in the following discrete set of values:{sunny, cloudy, snowy, rainy,foggy}. To use these value in a Machine learning project, we have to encode them from categorical data to numerical data by using booleans values 0 and 1 like in the following example:

Categorical_feature = sunny  -->  binary_features = [1, 0, 0, 0, 0]
Categorical_feature = cloudy -->  binary_features = [0, 1, 0, 0, 0]
Categorical_feature = snowy  -->  binary_features = [0, 0, 1, 0, 0]
Categorical_feature = rainy  -->  binary_features = [0, 0, 0, 1, 0]
Categorical_feature = foggy  -->  binary_features = [0, 0, 0, 0, 1].

This type of encoding is called one hot encoding or binary encoding.

### Instructions
Write a program with pandas allowing us to make this encoding
 on weather values.

In [7]:
import pandas as pd
values_set = pd.Series(['sunny',"cloudy",'snowy','rainy','foggy'])
encode = pd.get_dummies(values_set)      # create a dataframe containing every levels with its encoding.
display(encode)     # display the dataframe
display(encode['cloudy'])

   cloudy  foggy  rainy  snowy  sunny
0   False  False  False  False   True
1    True  False  False  False  False
2   False  False  False   True  False
3   False  False   True  False  False
4   False   True  False  False  False

0    False
1     True
2    False
3    False
4    False
Name: cloudy, dtype: bool

In [3]:
encode['sunny']

0     True
1    False
2    False
3    False
4    False
Name: sunny, dtype: bool

In [4]:
encode['snowy']

0    False
1    False
2     True
3    False
4    False
Name: snowy, dtype: bool

# Exercise 2: Dummy encoding 2

Let's do the same work like in the previous exercise by using scikit learn tools instead of pandas.

In [18]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
ohe = OneHotEncoder()
levels = ['sunny','cloudy','snowy','rainy',"foggy"]  # levels list
level_indexing = le.fit_transform(levels)                   # convert all categorical values to numerical index
display(level_indexing)
ohe.fit([[level_indexing[0]],[level_indexing[1]],[level_indexing[2]],[level_indexing[3]],[level_indexing[4]]])
print(ohe.transform([le.transform(['sunny'])]).toarray())
print(ohe.transform([le.transform(['cloudy'])]).toarray())

array([4, 0, 3, 2, 1])

[[0. 0. 0. 0. 1.]]
[[1. 0. 0. 0. 0.]]

# Exercise 3: Textual data

In [22]:
from sklearn.datasets import fetch_20newsgroups
categories = ['sci.med', 'sci.space']
twenty_news_groups = fetch_20newsgroups(categories = categories) 
display(twenty_news_groups.target[0])
display("--------------")
display(twenty_news_groups.data[0])
display("----------------")
display(twenty_news_groups.filenames)

1

'--------------'

'From: flb@flb.optiplan.fi ("F.Baube[tm]")\nSubject: Vandalizing the sky\nX-Added: Forwarded by Space Digest\nOrganization: [via International Space University]\nOriginal-Sender: isu@VACATION.VENARI.CS.CMU.EDU\nDistribution: sci\nLines: 12\n\nFrom: "Phil G. Fraering" <pgf@srl03.cacs.usl.edu>\n> \n> Finally: this isn\'t the Bronze Age, [..]\n> please try to remember that there are more human activities than\n> those practiced by the Warrior Caste, the Farming Caste, and the\n> Priesthood.\n\nRight, the Profiting Caste is blessed by God, and may \n freely blare its presence in the evening twilight ..\n\n-- \n* Fred Baube (tm)\n'

'----------------'

array(['/home/fabrice/scikit_learn_data/20news_home/20news-bydate-train/sci.space/61116',
       '/home/fabrice/scikit_learn_data/20news_home/20news-bydate-train/sci.med/58122',
       '/home/fabrice/scikit_learn_data/20news_home/20news-bydate-train/sci.med/58903',
       ...,
       '/home/fabrice/scikit_learn_data/20news_home/20news-bydate-train/sci.space/60774',
       '/home/fabrice/scikit_learn_data/20news_home/20news-bydate-train/sci.space/60954',
       '/home/fabrice/scikit_learn_data/20news_home/20news-bydate-train/sci.med/58911'],
      dtype='<U94')

In [24]:
print(twenty_news_groups.target_names[twenty_news_groups.target[0]])

sci.space