# Exercise 1: Create a DataSeries
Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

# Solution

In [2]:
import pandas as pd
sequence = {"names":['rogue','logan','redis','fabrice','essinam','fabros'],'sex':['m','f',"m",'m','m','m'], 
            'age':[18,20,14,25,25,26]}
table = pd.DataFrame(sequence)
display(table)

     names sex  age
0    rogue   m   18
1    logan   f   20
2    redis   m   14
3  fabrice   m   25
4  essinam   m   25
5   fabros   m   26

In [4]:
sequences = [10,12,22,25,28]
series = pd.Series(sequences)
series

0    10
1    12
2    22
3    25
4    28
dtype: int64

# Exercise 2: conversion from data series to list

Write a Pandas program to convert a Panda module Series to Python list and its type.

# Solution

In [8]:
import pandas as pd
ds = pd.Series([12,15,6,7,12])
print('the initial pandas series')
display(ds)
print('conversion of dataseries to list')
print(ds.tolist())
print(type(ds.tolist()))

the initial pandas series

0    12
1    15
2     6
3     7
4    12
dtype: int64

conversion of dataseries to list
[12, 15, 6, 7, 12]
<class 'list'>

# Exercise 3 : 
Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

# Solution

In [15]:
import pandas as pd
def add_sub_prod_div(ds1,ds2):
    print('The first series')
    display(ds1)
    print('The second series')
    display(ds2)
    print('their addition')
    display(ds1+ds2)
    print('their subtraction')
    display(ds1-ds2)
    print('their multiplication')
    display(ds1*ds2)
    print('their division')
    display(ds1/ds2)
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 9])

add_sub_prod_div(ds1,ds2)

The first series

0     2
1     4
2     6
3     8
4    10
dtype: int64

The second series

0    1
1    3
2    5
3    7
4    9
dtype: int64

their addition

0     3
1     7
2    11
3    15
4    19
dtype: int64

their subtraction

0    1
1    1
2    1
3    1
4    1
dtype: int64

their multiplication

0     2
1    12
2    30
3    56
4    90
dtype: int64

their division

0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

# Exercise 4: Create DataSeries
 Write a Pandas program to convert a dictionary to a Pandas series.
 
<code>Sample Series:
Original dictionary:
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
Converted series:
a    100
b    200
c    300
d    400
e    800
dtype: int64 </code>

# Solution

In [18]:
import pandas as pd
def dic_to_DS(dic):
    print('Original series')
    display(dic)
    print('Converted series')
    return pd.Series(dic)
dic = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
dic_to_DS(dic)

Original series

{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

Converted series

a    100
b    200
c    300
d    400
e    800
dtype: int64

# Exercise 5: Create Dataseries
Write a Pandas program to convert a NumPy array to a Pandas series.

<code>Converted Pandas series:
0    10
1    20
2    30
3    40
4    50
dtype: int64</code>

# Solution

In [24]:
import numpy as np
def nparray_to_DS(array):
    print('that is the numpy array')
    display(array)
    ds = pd.Series(array)
    print('Converted Pandas series')
    display(ds)
arr = np.array([10, 20, 30, 40, 50])
nparray_to_DS(arr)

that is the numpy array

array([10, 20, 30, 40, 50])

Converted Pandas series

0    10
1    20
2    30
3    40
4    50
dtype: int64

# Exercise 6

Write a Pandas program to change the data type of given a column or a Series.

<code>Sample Series: 
    Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
Change the said data type to numeric:
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64</code>

# Solution

In [26]:
import pandas as pd 
def change_DS_type(arr):
    print('Original Data Series')
    display(arr)
    print('Change the said data type to numeric')
    arr2 = pd.to_numeric(arr, errors = 'coerce')
    display(arr2)

ds = pd.Series(['100','200','python','300.12','400.00'])
change_DS_type(ds)

Original Data Series

0       100
1       200
2    python
3    300.12
4    400.00
dtype: object

Change the said data type to numeric

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

# Exercise 7:
 Write a Pandas program to convert the first column of a DataFrame as a Series.

<code>Sample Output:  
Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11
1st column as a Series:
0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64 </code>

# Solution

In [28]:
def Dataframe_to_Series(df):
    print('Original DataFrame')
    display(df)
    print('1st column as a Series')
    display(df.iloc[:,0])
df = pd.DataFrame({'col1':[1,2,3,4,7,11],'col2':[4,5,6,9,5,0],'col3':[7,5,8,12,1,11]})
Dataframe_to_Series(df)

Original DataFrame

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

1st column as a Series

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

# Exercise 8: 

Write a Pandas program to convert a given Series to an array.
Sample Output:

<code>Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
Series to an array
['100' '200' 'python' '300.12' '400']</code>

# Solution

In [31]:
import pandas as pd
import numpy as np

def series_to_array(ds):
    print('original series')
    display(ds)
    print('Series to an array')
    display(np.array(ds.tolist()))

ds = pd.Series([100,200,'python',300.12,400])
series_to_array(ds)

original series

0       100
1       200
2    python
3    300.12
4       400
dtype: object

Series to an array

array(['100', '200', 'python', '300.12', '400'], dtype='<U32')